doctype html
html( lang="de" )
  head
    title CM Anmeldeformular
    link( rel = "stylesheet", href = "/styles/cIndex.css" )
    link( rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" )
    meta#viewport(name='viewport', content='width=device-width, initial-scale=1.0')
  body
    block content
